select *
from [AGRIDS].[dbo].lcc_procedures_step1
where type_info='data'
and methodology='D16'
where report='MUN'
and scope like '%railways%'

select * from [AGRIDs_v2].[dbo].lcc_ciudades_tipo_Project_V9
where zona_OSP='Zona6'

select * from [AGRIDS].[dbo].lcc_dashboard_info_voice
use FY1617_Data_Rest_3G_H1_3
select * from resultsvideostream


select *
from [AGRIDS].[dbo].lcc_dashboard_info_data

select [date_reporting],[meas_date],[ENTITIES_DASHBOARD]
from [AGGRVoice3G].dbo.lcc_aggr_sp_MDD_Voice_Llamadas a, [AGRIDS].[dbo].lcc_dashboard_info_scopes_NEW t
where t.ENTITIES_DASHBOARD in ('AGUIMES','ALCANTARILLA','ALCORCON','ALCUDIA','ALDAIA','ALGEMESI','ALMAZORA/ALMASSORA','ALMONTE','AVILES','BARBERA DEL VALLES','BENALMADENA','BURJASSOT','CACERES','CAMBRILS','CANDELARIA','CANGAS','CASTRILLON','CIUDAD REAL','COLLADO VILLALBA','CORIA DEL RIO','CULLEREDO','DOS HERMANAS','ECIJA','EIBAR','EL PRAT DE LLOBREGAT','ELDA','ERANDIO','ESPARREGUERA','ESPLUGUES DE LLOBREGAT','FUENLABRADA','GETAFE','GRANADILLA DE ABONA','HELLIN','HOSPITALET DE LLOBREGAT','ILLESCAS','LA LINEA DE LA CONCEPCION','LANGREO','LEGANES','LEIOA','LOS REALEJOS','LUCENA','MADRIDEJOS','MANACOR','MANISES','MAO','MARIN','MEDINA DEL CAMPO','MELILLA','MIERES','MIJAS','MOLLET DEL VALLES','NAVALCARNERO','NAVALMORAL DE LA MATA','NIJAR','PONTEVEDRA','PREMIA DE MAR','PUENTE GENIL','REDONDELA','RINCON DE LA VICTORIA','RONDA','RUBI','SAN JAVIER','SAN JUAN DE AZNALFARACHE','SANT ADRIA DE BESOS','SANT ANTONI DE PORTMAN','SANT BOI DE LLOBREGAT','SANTA COLOMA DE GRAMENET','SANTA EULALIA DEL RIO','SANTA LUCIA DE TIRAJANA','TERRASSA','TOMELLOSO','TORREJON DE ARDOZ','TORREMOLINOS','TUDELA','UTEBO','UTIEL','VALDES','VALLS','VELEZ-MALAGA','VIC','XABIA','BARCELONA','MADRID','CARTAGENA','JEREZ DE LA FRONTERA','OVIEDO','PALMA DE MALLORCA','VITORIA','ADEJE','ARRECIFE','BAIONA','BENICASIM','CALAFELL','CARREÑO','CHICLANA','CULLERA','FUENGIROLA','GOZON','IBIZA','LA OLIVA','LAREDO','LLANES','LLORET DE MAR','MARBELLA','MOGAN','NOJA','O GROVE','OROPESA','PAJARA','PALAMOS','PLAYA DE GANDIA','PUERTO DE LA CRUZ','ROSES','SADA','SALOU','SAN BARTOLOME DE TIRAJANA','SANTIAGO DE COMPOSTELA','SANTIAGO DEL TEIDE','SANXENXO','SITGES','SOTOGRANDE','TIAS','TOSSA DE MAR','VILAGARCIA DE AROUSA','YAIZA','ZARAUTZ')

and a.entidad=t.entities_BBDD
group by [date_reporting],[meas_date],[ENTITIES_DASHBOARD]
order by 3 asc,1 desc
