USE [master]
GO
/****** Object:  StoredProcedure [dbo].[sp_lcc_create_DashBoard_VOICE_TABLES_CECI]    Script Date: 29/05/2017 15:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[sp_lcc_create_DashBoard_VOICE_TABLES_CECI] 
	@database as varchar(256)
	,@nameSheet as varchar(256)
	,@LA as bit
as

-------------------------------------------------------------------------------
--Inicialización de variables

--declare @database as varchar(256) = '[AGGRVoice4G]'
--declare @namesheet as varchar(256)='4G'
--declare @LA as bit = 0

declare @sheetTech as varchar(256)
declare @table varchar(256)
DECLARE @SQLString nvarchar(4000)
declare @LAfilter varchar(256)
declare @RoundFilter varchar (256)
declare @EntitiesNOLAfilter varchar(2000)

if @nameSheet like '4G_ONLY_road' set @sheetTech='_4G_ROAD'
	else if @nameSheet like '4G_road' set @sheetTech='_ROAD'
		else if @nameSheet like '4G_ROAD_REGION' set @sheetTech='_ROAD_REGION'
			else if @nameSheet like '4G_ONLY_railway' set @sheetTech='_4G_RAILWAY'
				else if @nameSheet like '4G_railway' set @sheetTech='_RAILWAY'
					else if @nameSheet like '4G_ONLY' set @sheetTech='_4G'
						else if @nameSheet like '4G' set @sheetTech=''
							else if @nameSheet like '2G3G' set @sheetTech=''

-- Variable para eliminar las entidades en las que no se ha medido LA y queremos destarcar
if @nameSheet like '%2G3G%'
	set @EntitiesNOLAfilter= 'and a.entidad not like ''coruna'''
else
	set @EntitiesNOLAfilter=' and (a.entidad not like ''alicante'' and a.entidad not like ''sevilla'' and a.entidad not like ''barcelona'')'

if @la = 1 set @LAfilter ='a.entorno  not like ''%LA%'' and a.entorno in (''8G'',''32G'')' 
else set @LAfilter= '(a.entorno like ''%%'' or a.entorno is null)' + @EntitiesNOLAfilter

if @namesheet like '%road%' or @namesheet like '%railway%' set @RoundFilter = 'and a.ronda=b.ronda and	a.entidad_orig=b.entidad_orig'
else set @RoundFilter=''


set @database= replace(replace(@database,'[',''),']','')

-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-- Voice_calls
SET @SQLString =N'
				exec dashboard.dbo.sp_lcc_dropifexists ''lcc_Voice_calls_'+@nameSheet+'_temp''
				select  a.entidad as entidad_c
						,a.mnc as mnc_c
						,a.Meas_Date as Meas_Date_c
						,sum(a.[MO_Succeeded]) +  sum(a.[MT_Succeeded])+sum(a.[MO_Blocks]) + sum(a.[MT_Blocks])+sum(a.[MO_Drops])+sum(a.[MT_Drops]) as CALLS_ATTEMPTS
						,sum(a.[MO_Blocks]) + sum(a.[MT_Blocks]) as CALLS_FAILURES
						,sum(a.[MO_Succeeded]) + sum(a.[MO_Blocks]) + sum(a.[MO_Drops]) as CALLS_ATTEMPTS_MO
						,sum(a.[MO_Blocks]) as CALLS_FAILURES_MO
						,sum(a.[MT_Succeeded]) + sum(a.[MT_Blocks]) + sum(a.[MT_Drops]) as CALLS_ATTEMPTS_MT
						,sum(a.[MT_Blocks]) as CALLS_FAILURES_MT
						,sum(a.[MO_Drops])+sum(a.[MT_Drops]) as CALLS_DROPS
						,sum(a.[SQNS_NB]) as CALLS_NB
						,sum(a.[SQNS_WB]) as CALLS_WB
						,sum(a.[Started_ended_3G_Comp]) as CALLS_3G
						,sum(a.[Started_ended_2G_Comp]) as CALLS_2G
						,sum(a.[Calls_Mixed_Comp]) as CALLS_MIXED
						,sum(a.[Started_4G_Comp]) as CALLS_4G
						,sum(a.[Duration_3G]) as DURATION_3G
						,sum(a.[Duration_2G]) as DURATION_2G
						,sum(a.[GSM_calls_After_CSFB_Comp]) as CALLS_2G_CSFB
						,sum(a.[UMTS_calls_After_CSFB_Comp]) as CALLS_3G_CSFB

						NEW !!!!!!!!!!!!!!!!!!!!!
						,1.0*isnull(sum(a.HR_Count),0)/nullif(sum(a.Codec_Registers),0) as [% HR]
						,1.0*isnull(sum(a.FR_Count),0)/nullif(sum(a.Codec_Registers),0) as [% FR]
						,1.0*isnull(sum(a.EFR_Count),0)/nullif(sum(a.Codec_Registers),0) as [% EFR]
						,1.0*isnull(sum(a.AMR_HR_Count),0)/nullif(sum(a.Codec_Registers),0) as [% AMR HR]
						,1.0*isnull(sum(a.AMR_FR_Count),0)/nullif(sum(a.Codec_Registers),0) as [% AMR FR]
						,1.0*isnull(sum(a.AMR_WB_Count),0)/nullif(sum(a.Codec_Registers),0) as [% AMR WB]
						,1.0*isnull(sum(a.AMR_WB_HD_Count),0)/nullif(sum(a.Codec_Registers),0) as [% AMR WB HD]



				into [DASHBOARD].[dbo].lcc_Voice_calls_'+@nameSheet+'_temp
				FROM  [DASHBOARD].[dbo].[UPDATE_'+@database+'_lcc_aggr_sp_MDD_Voice_Llamadas'+ @sheetTech +'] a
				where  '+ @LAfilter +'
				group by a.mnc,a.entidad,a.Meas_Date order by a.mnc';
EXECUTE sp_executesql @SQLString

-------------------------------------------------------------------------------
-- Voice_CST
set @table ='UPDATE_'+@database+'_lcc_aggr_sp_MDD_Voice_CallSetupTime_CompletedCalls'+ @sheetTech

exec [dbo].[sp_lcc_create_DashBoard_VOICE_STATISTICS_CST] @sheetTech,@table,@LAfilter

SET @SQLString =N'
				exec dashboard.dbo.sp_lcc_dropifexists ''lcc_Voice_CST_'+@nameSheet+'_temp1''
				select  a.entidad
						,a.mnc
						,a.Meas_Date
						,sum(a.MO_CallType+a.MT_CallType) as Calls_Completed
						,1.0*(sum(1.0*a.[CST_MO_Alerting]*a.[Calls_AVG_ALERT_MO])/sum(a.[Calls_AVG_ALERT_MO])) as CST_MO_ALERTING
						,1.0*(sum(1.0*a.[CST_MT_Alerting]*a.[Calls_AVG_ALERT_MT])/sum(a.[Calls_AVG_ALERT_MT])) as CST_MT_ALERTING
						,1.0*((1.0*sum(a.[CST_MOMT_Alerting]*(a.[Calls_AVG_ALERT_MO]+a.[Calls_AVG_ALERT_MT]))/sum(a.[Calls_AVG_ALERT_MT]+a.[Calls_AVG_ALERT_MO]))) as CST_ALERTING
						,1.0*sum(1.0*a.[CST_MO_Connect]*a.[Calls_AVG_CONNECT_MO])/sum(a.[Calls_AVG_CONNECT_MO]) as CST_MO_CONNECT
						,1.0*sum(1.0*a.[CST_MT_Connect]*a.[Calls_AVG_CONNECT_MT])/sum(a.[Calls_AVG_CONNECT_MT]) as CST_MT_CONNECT
						,1.0*sum(1.0*a.[CST_MOMT_Connect]*(a.[Calls_AVG_CONNECT_MO]+a.[Calls_AVG_CONNECT_MT]))/sum(a.[Calls_AVG_CONNECT_MT]+a.[Calls_AVG_CONNECT_MO]) as CST_CONNECT
				into [DASHBOARD].[dbo].lcc_Voice_CST_'+@nameSheet+'_temp1
				FROM [DASHBOARD].[dbo].[UPDATE_'+@database+'_lcc_aggr_sp_MDD_Voice_CallSetupTime_CompletedCalls'+ @sheetTech +'] a
				where  '+ @LAfilter +'
				group by a.mnc,a.entidad,a.Meas_Date
				order by a.mnc
				'

EXECUTE sp_executesql @SQLString

SET @SQLString =N'
				exec dashboard.dbo.sp_lcc_dropifexists ''lcc_Voice_CST_'+@nameSheet+'_temp''
				select  a.entidad as entidad_cst
						,a.mnc as mnc_cst
						,a.Meas_Date as Meas_Date_cst
						,a.CST_MO_ALERTING
						,a.CST_MT_ALERTING
						,a.CST_ALERTING
						,b.P_95_MO_Alert as CST_95TH_MO_ALERTING
						,b.P_95_MT_Alert as CST_95TH_MT_ALERTING
						,b.P_95_MOMT_Alert as CST_95TH_ALERTING
						,a.CST_MO_CONNECT
						,a.CST_MT_CONNECT
						,a.CST_CONNECT
						,b.P_95_MO_Conn as CST_95TH_MO_CONNECT
						,b.P_95_MT_Conn as CST_95TH_MT_CONNECT
						,b.P_95_MOMT_Conn as CST_95TH_CONNECT

						NEW !!!!!!!!!!!!!!!!!!!!!
						,b.P_10_MO_Conn as CST_10TH_MO_CONNECT
						,b.P_10_MT_Conn as CST_10TH_MT_CONNECT
						,b.P_10_MOMT_Conn as CST_10TH_CONNECT
						,b.P_90_MO_Conn as CST_90TH_MO_CONNECT
						,b.P_90_MT_Conn as CST_90TH_MT_CONNECT
						,b.P_90_MOMT_Conn as CST_90TH_CONNECT


				into [DASHBOARD].[dbo].lcc_Voice_CST_'+@nameSheet+'_temp
				FROM [DASHBOARD].[dbo].lcc_Voice_CST_'+@nameSheet+'_temp1 a
					left outer join [DASHBOARD].[dbo].[lcc_Statistics_Voice_CST' + @sheetTech +'] b
					on a.entidad=b.entidad and a.mnc=b.mnc and a.Meas_Date=b.Meas_Date'
EXECUTE sp_executesql @SQLString

-------------------------------------------------------------------------------
-- Voice_MOS
set @table ='UPDATE_'+@database+'_lcc_aggr_sp_MDD_Voice_PESQ'+ @sheetTech

exec [dbo].[sp_lcc_create_DashBoard_VOICE_STATISTICS_MOS] @sheetTech,@table,@LAfilter

SET @SQLString =N'
				--exec dashboard.dbo.sp_lcc_dropifexists ''lcc_Voice_MOS_'+@nameSheet+'_aux''	
				--select a.*
				--into dashboard.dbo.lcc_Voice_MOS_'+@nameSheet+'_aux	
				--from (	select a.*, b.[MO_Succeeded] + b.[MO_Drops] as MO_CallType, b.[MT_Succeeded] + b.[MT_Drops] as MT_CallType
				--	-- b.MO_CallType,b.MT_CallType 
				--	from [DASHBOARD].[dbo].[UPDATE_'+@database+'_lcc_aggr_sp_MDD_Voice_PESQ'+ @sheetTech+'] a	
				--	--	left outer join [DASHBOARD].[dbo].[UPDATE_'+@database+'_lcc_aggr_sp_MDD_Voice_CallSetupTime_CompletedCalls'+ @sheetTech +'] b
				--		left outer join [DASHBOARD].[dbo].[UPDATE_'+@database+'_lcc_aggr_sp_MDD_Voice_Llamadas'+ @sheetTech +'] b
				--		on a.entidad=b.entidad and a.mnc=b.mnc and a.meas_date=b.meas_date and a.parcel=b.parcel 
				--		'+@RoundFilter+') a
				--where  '+ @LAfilter +'

				exec dashboard.dbo.sp_lcc_dropifexists ''lcc_Voice_MOS_'+@nameSheet+'_temp1''	
				select  a.entidad
						,a.mnc
						,a.Meas_Date
						,1.0*(sum(a.[MOS_ALL]*a.Calls_MOS))/sum(a.Calls_MOS) as MOS_NB
						,sum(a.[Registers_NB]) as NUM_SAMPLES_NB
						,sum(a.[MOS_NB_Samples_Under_2.5]) as NUM_SAMPLES_25_NB
						,1.0*(sum(isnull(a.[MOS],0)*a.[Registers]+isnull(a.[MOS_NB],0)*a.[Registers_NB]))/sum(a.[Registers]+a.[Registers_NB]) as MOS_OVER_old
						--,1.0*(sum(a.[MOS_ALL]*a.MO_CallType+a.[MOS_ALL]*a.MT_CallType))/sum(a.MO_CallType+a.MT_CallType) as MOS_OVER
						,1.0*(sum(a.[MOS_ALL]*a.Calls_MOS))/sum(a.Calls_MOS) as MOS_OVER
						,sum(a.[Registers]+a.[Registers_NB]) as NUM_SAMPLES_OVER
						,sum(a.[MOS_Samples_Under_2.5]) as NUM_SAMPLES_25_OVER
						,sum(a.[Calls_WB_only]) as CALLS_WB_AMR
						,1.0*sum(a.[MOS_WBOnly]*a.[Calls_AVG_WB_ONLY])/sum(a.[Calls_AVG_WB_ONLY]) as AVG_QUALITY_WB_AMR
				into [DASHBOARD].[dbo].lcc_Voice_MOS_'+@nameSheet+'_temp1 
				FROM [DASHBOARD].[dbo].[UPDATE_'+@database+'_lcc_aggr_sp_MDD_Voice_PESQ'+ @sheetTech+'] a
				where  '+ @LAfilter +'
				group by a.mnc,a.entidad,a.Meas_Date'

EXECUTE sp_executesql @SQLString

SET @SQLString =N'
				exec dashboard.dbo.sp_lcc_dropifexists ''lcc_Voice_MOS_'+@nameSheet+'_temp''
				select  a.entidad as entidad_mos
						,a.mnc as mnc_mos
						,a.Meas_Date as Meas_Date_mos
						,a.MOS_NB
						,a.NUM_SAMPLES_NB
						,b.DESV_NB as STDV_NB
						,a.NUM_SAMPLES_25_NB
						,b.P_05_NB as NB_5TH
						,a.MOS_OVER
						,a.NUM_SAMPLES_OVER
						,b.DESV_OverAll as STDV_OVER
						,a.NUM_SAMPLES_25_OVER
						,b.P_05_OverAll as OVER_5TH
						,a.CALLS_WB_AMR
						,a.AVG_QUALITY_WB_AMR
						,case when a.CALLS_WB_AMR = 0 then null
							when a.CALLS_WB_AMR > 0 then b.Median_WB
							end as MEDIAN_QUALITY_WB_AMR
				into [DASHBOARD].[dbo].lcc_Voice_MOS_'+@nameSheet+'_temp
				FROM [DASHBOARD].[dbo].lcc_Voice_MOS_'+@nameSheet+'_temp1 a	
					left outer join [DASHBOARD].[dbo].[lcc_Statistics_Voice_MOS' + @sheetTech +'] b
					on a.entidad=b.entidad and a.mnc=b.mnc and a.Meas_Date=b.Meas_Date
				';
EXECUTE sp_executesql @SQLString

-- Limpieza de tablas temporales
SET @SQLString =N'
					exec dashboard.dbo.sp_lcc_dropifexists ''lcc_Voice_CST_'+@nameSheet+'_temp1'' 
					exec dashboard.dbo.sp_lcc_dropifexists ''lcc_Voice_MOS_'+@nameSheet+'_temp1''
					exec dashboard.dbo.sp_lcc_dropifexists ''lcc_Voice_MOS_'+@nameSheet+'_aux'''
EXECUTE sp_executesql @SQLString

